<div class="container-fiuld user">
  <div class="row">
    <%= render'shared/sidebar' %>
    <%= render'shared/sidebar2' %>
    <div class="col-md-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>アカウント</h5>
          </div>
        </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3" for="email">メールアドレス</label>
              <div class="col-md-9"><%= current_user.email %></div>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <label class="col-md-3" for="password">パスワード</label>
              <div class="col-md-9"><%= current_user.password %>********</div>
            </div>
          </div>
          <div class="update-content">
            <div class="row">
              <a class="col-md-2 btn btn-primary mx-3" href="/users/edit">編集</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>