<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
    <h2 class="listings_header">admin</h2>
      <ul class="channel_list">
        <li class="channel active"><%= '基本情報' %></li>
      </ul>
</div>