<div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none col-2">
    <h2 class="listings_header">admin</h2>
      <ul class="channel_list">
        <%= sidebar_link_item('アカウント', users_show_path) %>
        <%= sidebar_link_item('プロフィール', dashboard_path) %>
      </ul>
</div>