<div class="col-lg-2 user-nav2 user-nav-pc2 d-lg-block d-none2">
    <h2 class="listings_header">admin</h2>
      <ul class="channel_list">
      <li class="channel_list"><%= sidebar_link_item('アカウント', users_show_path) %></li>
      <li class="channel_list"><%= sidebar_link_item('プロフィール', dashboard_path) %></li>
    </ul>
</div>