<div class="col-lg-2 user-nav2 user-nav-pc2 d-lg-block d-none2">
<!--<div class="listings">-->
  <!--<div class="listings_channels">-->
    <h2 class="listings_header">admin</h2>
      <ul class="channel_list">
        <li class="channel active"><%= '基本情報' %></li>
      </ul>
  <!--</div>-->
<!--</div>-->
</div>